<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/create_user">Sign Up</a></p>
    <!-- Displaying the message if it's provided -->
    {% if message %}
        <h2 class="message">
            <p>{{ message }}</p>
        </h2>
    {% endif %}
</div>
</body>
</html>