<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jail</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>JAIL</h1>
    <p>You've attempted too many logins, you are now incarcerated.</p>
    <!-- Display the image -->
    <div class="centered-image">
        <img src="../static/jail.jpg" alt="Admin Image">
        <p>Image Source: https://www.latimes.com/california/story/2023-03-28/three-inmates-died-in-the-los-angeles-county-jails-in-just-over-a-week</p>
    </div>
    <a href=" /login"><p>Try again with a clean slate.</p></a>
</body>
</html>