<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Reporting</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Displaying the message if it's provided -->
    {% if access_granted %}
        <h2 class="message">
            {{ access_message }}
        </h2>
        <!-- Display the image -->
        <div class="centered-image">
            <img src="../static/time_r.png" alt="Time Reporting Image">
            <p>Image Source: https://teamgantt.helpscoutdocs.com/article/129-time-tracking-report</p>
        </div>
    {% elif not access_granted %}
        <h2 class="message">
            {{ access_message }}
        </h2>
    {% endif %}
</body>
</html>